.search-container{
	background-color: #424242;
	text-align: center;
	line-height: 40px;
}
.search-container input {
	height: 25px;
	width: 60%;
}
.shop-container {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.product-container {
	border-right: 1px solid #ccc;
	margin-left: 150px;
	margin-right: 5px;
	padding-right: 5px;
}